.containerCreate {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Cambiado de center a flex-start */
  height: 100vh;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Añadido para permitir el desplazamiento vertical */
}

.createBox {
  border: none;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin-top: 20px; /* Añadido para dar espacio a la barra de navegación */
  border-radius: 10px;
  background: rgba(87, 145, 238, 0.25);
  transition: all 0.3s ease;
  box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerCreate {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #ffffff;
}

.inputGroupCreate {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px; /* Reducido de 20px a 10px */
  position: relative;
  margin-top: 0px; /* Añadido para dar espacio entre los elementos */
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.iconWrap {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputCreate {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgba(87, 145, 238, 0.25);
  font-size: 16px;
  transition: all 0.3s ease;
  
}

.inputCreate::placeholder {
  color: rgba(255, 255, 255, 0.479);
}

.inputCreate:hover {
  border-color: #666;
  background-color: rgba(255, 255, 255, 0.527);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.datePickerGroup {
  width: 100%;
}

.inputCreate option[value=""][disabled] {
  color: rgba(255, 255, 255, 0.479);
}

.inputCreate option {
  background-color: rgba(32, 85, 170, 0.8);
  color: #ffffff;
}
.formCreate {
  display: flex;
  flex-direction: column;
  align-items: center; /* Añadido para centrar los elementos dentro del formulario */
}

.buttonCreate {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  width: 50%;
  padding: 10px;
  background-color: #fdca40;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.4s ease;
  align-self: center; /* Añadido para centrar el botón */
}

.button:hover {
  background-color: #fcbc0e;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
    0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07),
    0 32px 32px rgba(0, 0, 0, 0.07);
  transform: translateY(-2px);
}

h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  margin-left: 10px;
}

h3 .icon {
  margin-right: 10px;
}

.datosIncorrectos {
  animation: datosIncorrectos 0.3s ease 0s 1 normal forwards;
}

.cajaLogin {
  animation: cajaLogin 0.5s ease forwards;
}

.LoginAnim {
  animation: LoginAnim 0.2s ease 0s 1 normal forwards;
}

.no-spinner {
  appearance: none;
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@keyframes datosIncorrectos {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

@keyframes cajaLogin {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes LoginAnim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.LoginSlide {
  animation: LoginSlide 0.5s ease 0s 1 normal forwards;
}

@keyframes LoginSlide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(250px);
  }
}

.popupErrorCrearUsuario,
.popupExitoso {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 20px 40px;
  border-radius: 7px;
  max-width: 80%;
  width: 500px;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  animation: shadeIn 0.5s forwards;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.popupErrorCrearUsuario {
  background-color: #f44336;
}

.popupExitoso {
  background-color: #4caf50;
}

@keyframes shadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.MuiSvgIcon-root {
  color: rgb(206, 206, 206) !important;
}