/* 🎨 Variables */
:root {
    --primary-bg: rgba(87, 145, 238, 0.25);
    --primary-color: #ffffff;
    --secondary-bg: #fffffff1;
    --highlight-bg: #a3b9ca;
    --button-bg: #fbc940;
    --button-hover-bg: #dfb755;
    --modal-bg: #39659f;
    --modal-item-bg: #4c6da8;
    --modal-shadow: rgba(0, 0, 0, 0.07);
}


/* 📝 Tarjeta del calendario */
.calendar-card {
    width: 93%;
    height: auto;

    background-color: #007bff3a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);


    border-radius: 12px;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
}

/* 📌 Título del calendario */
.calendar-title {
    color: var(--primary-color);
    display: flex; /* Diseño flexible para acomodar las columnas */
    justify-content: space-between; /* Espacia las columnas uniformemente */
    align-items: center; /* Centra los elementos verticalmente */
    gap: 10px; /* Espacio entre columnas */
    box-sizing: border-box;
    background-color: #007bff3a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 93%;
    padding: 15px 20px;
    margin: 8px auto 18px auto; /* Centra el título horizontalmente */
}
.calendar-title-th {
    width: 93%;
    padding: 20px;
    background-color: #007bff3a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center; /* Centra el texto horizontalmente */
    color: var(--primary-color);
    font-weight: 600;
    font-size: 2rem;
    margin: 8px auto 18px auto; /* Centra el título horizontalmente */
    display: flex;
    justify-content: center;
}
.calendar-title-th span {
    /*alinear al centro*/
    display: flex;
    align-items: center;

}

/* Cada columna del calendario */
.calendar-key,
.calendar-value {
    flex: 1; /* Ocupan proporcionalmente el espacio disponible */
     /* Limita a un 25% menos el espacio del gap */
    box-sizing: border-box;
    padding: 20px 5px;
    background-color: #007bff3a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center; /* Centra el texto horizontalmente */
    display: flex; /* Para centrar completamente el contenido */
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    margin: 0; /* Remueve el margen interno */
}
.calendar-key {
    font-size: 1.1rem;
    padding: 20px;
}
.calendar-value {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--button-bg);
}
.calendar-divisor {
    width: 10px;
    height: 100%;
    background-color: var(--button-bg);
    border-radius: 12px;
    margin: 0 25px;
}


.calendar-error-message {
    flex: 1 1 100%;
    /* El mensaje de error ocupará el 100% del ancho del contenedor */
    font-weight: bold;
    width: 23%;
    border-radius: 5px;
    margin-left: 39%;
    color: white;
    background-color: red;
    text-align: center;
}



/* 🗓 Contenedor grande del calendario */
.calendar-big-container {
    position: static;
    top: 20px;
    background-color: var(--secondary-bg);
    border-radius: 15px;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    height: 30rem;
    width: 80%;
    margin: 10px auto;
    overflow-y: auto;
  }

.rbc-calendar {
    height: 90% !important;
}

/* Leyenda de colores alineada horizontalmente */
.calendar-legend {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
    padding: 5px;
    border-radius: 8px;
}

.calendar-legend p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px 10px;
    border-radius: 4px;
}

.calendar-legend span {
    margin-right: 5px;
    padding: 4px 8px;
    border-radius: 4px;
}



/* Estilos de los botones */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    overflow: hidden;
    /* Evita que los elementos sobresalgan */
    padding-top: 10px;
}


.calendar-button {
    margin: 0 10px !important;
}




.checkbox-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding-bottom: 5px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
}

.custom-checkbox input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #f0c647; /* Amarillo, similar a los botones */
    border-radius: 4px;
    background-color: transparent; /* Fondo transparente */
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-checkbox input[type="checkbox"]::after {
    content: ''; /* Reservar espacio */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #001b5e;
    transition: all 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked::after {
    content: '✔';
    color: var(--primary-color);
}




.calendar-button-focus {
    background-color: #fc9d0e;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
        0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07),
        0 32px 32px rgba(0, 0, 0, 0.07);
    transform: translateY(-1px);
}

.calendar-text-focus {
    font-weight: 600 !important;
}



/* Popup Overlay */
.popup-overlay,
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Modal Content */
.modal-contentTh {
    background: var(--modal-bg);
    max-height: 70vh;
    overflow-y: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-events-list {
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: calc(70vh - 50px);
}

.modal-contentTh li {
    background-color: var(--modal-item-bg);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.modal-contentTh li:hover {
    box-shadow: 0 -1px 1px var(--modal-shadow), 0 4px 4px var(--modal-shadow),
        0 8px 8px var(--modal-shadow), 0 16px 16px var(--modal-shadow),
        0 32px 32px var(--modal-shadow);
    transform: translateY(-2px);
}

/* Botón de cerrar */
.close-modal-btn {
    background-color: var(--button-bg);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.past-date {
    background-color: #e6e6e6;
    color: #dfb755;
}
.weekend {
    background-color: #dadada;
}


/*Selector de Equipos*/
/*.calendar-select-Th {*/
/*    font-size: 1.1rem; !* Tamaño del texto relativo (responsive) *!*/
/*    color: #363533; !* Color del texto *!*/
/*    background-color: #fbc940; !* Fondo amarillo *!*/
/*    height: auto; !* Ajusta la altura automáticamente *!*/
/*    width: 100%; !* Ocupa el 100% del contenedor *!*/
/*    max-width: 300px; !* Tamaño máximo para evitar ser demasiado grande *!*/
/*    min-width: 150px; !* Tamaño mínimo para evitar ser demasiado pequeño *!*/
/*    padding: 8px; !* Espaciado interno *!*/
/*    border-radius: 5px; !* Bordes redondeados *!*/
/*    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); !* Sombra sutil para resaltar *!*/
/*    transition: all 0.3s ease; !* Animación para cambios de estado *!*/
/*}*/

/* Efecto al pasar el mouse */
.calendar-select-Th:hover {
    background-color: #dfb755;
    /* Cambia a un amarillo más intenso */
    cursor: pointer;
    /* Indica interactividad */
}



.close-modal-btn:hover {
    background-color: var(--button-hover-bg);
}

/* Estilo del día actual */

.rbc-day-bg.rbc-today:hover {
    background-color: var(--button-bg) !important;
}
.rbc-now button:hover {
    background-color: #eaf6ff !important;
}
.rbc-now button {
    padding: 3.1px;
    background-color: var(--button-bg);
    color: #333 !important;
    border-radius: 50%;
}
.rbc-button-link {
    margin: 0 !important;
}

.rbc-date-cell {
    padding: 0px !important;
    margin: 1px !important;
}

.sidebar-button-homeTH{
    background-color:  rgba(87, 145, 238, 0.25);;
}

.sidebar-button-homeTH option{
    background-color:  rgba(87, 145, 238, 0.25);
    background: #39659f;
    color: white;
}
.sidebar-button-homeTH select:focus-visible, .sidebar-button-homeTH select:focus {
    background-color: white;
    color: white;
    background: white;
}
.sidebar-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px; /*cambie este para la funete de Todos los equipos*/
    position: relative;
}

.sidebar-button span {
    margin-right: auto;
}

.notificacion {
    width: 20px; /* Ajusta el tamaño de la imagen */
    height: 20px;
    filter: invert(23%) sepia(91%) saturate(7458%) hue-rotate(0deg) brightness(96%) contrast(104%); /* Cambia el color a rojo */
    object-fit: contain; /* Asegura que mantenga su proporción original */
}


.pending-count {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    /*color: white;*/
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
