/*container fondo web*/
.loginFPContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
}
.formClass {
  gap: 30px;
}
/*caja del Login*/
.loginFPBox {
  align-items: center;
  border: none;
  height: 350px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(87, 145, 238, 0.25);
  transition: all 0.3 ease;
  box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-between; 
  flex-direction: column;
  justify-content: center;
}
.headerFP {
  left: 45px;  
  top: 75px;   
  position: absolute;  
  justify-content: center;
  text-align: center;
  margin-bottom: 1%;
  font-size: 30px;
  color: white;
}


/*Input para poner el correo*/
.inputFP {
  position: absolute;
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  margin-top: -70px;
  margin-left: -165px;
}
.inputFP:hover {
  border-color: #666;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.inputFPGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: -30px;
}
/*textos*/
h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  margin-left: 10px;
}

h3 .iconFP {
  margin-right: 10px;
}

.forgotPasswordBox {
  animation: forgotPasswordBox 0.5s ease forwards;
}
/*Botón de correo de recuperación*/
.buttonFPC {
  margin-top: 55px;
  width: 135px;
  left: 150px;
  top: 245px;
  position: absolute;
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: #fdca40; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.buttonFPC:hover {
  transform: scale(1.05); 
}
.buttonFPC:active {
  transform: scale(0.95); 
}
/*Pop-ups y su formato*/
.SetMensajeError {
  position: absolute;
  top: 10%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #f44336; 
  color: #fff; 
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  text-align: center;
  animation: fadeIn 0.5s ease-out; 
}
.mensaje {
  margin-top: 10px;
  color: white;
  font-size: 14px;
  font-family: inherit;
}
.mensajeContainer {
  position: absolute;
  top: 10%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color:  #4caf50; 
  color: white; 
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  text-align: center;
  animation: fadeIn 0.5s ease-out; 

}
/*Clases de animaciones*/
.forgotPasswordExiting {
  animation: BackLogin 0.2s ease-out forwards;
}
/*Boton Atrás*/
.backButtonWrapper {
  position: relative; /* Asegura que el contenedor sea el punto de referencia */
}
.backToLoginButton {
  position: absolute;
  width: 40px;
  height: 35px;
  top: 8px;
  background: rgba(87, 145, 238, 0.25);
  color: black; 
  border: none;
  border-radius: 100px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  align-items: center;
  justify-content: center;
}
.backToLoginButton:hover {
  transform: scale(1.05);
  background-color: #0056b3;
}
.backToLoginButton:active {
  transform: scale(0.95); 
}
.back-button:focus {
  outline: none; 
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); 
  
} /*Texto abajo del título*/
.boxTextWrapper {
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 85px;
  gap: 30px;
}

.boxText {
  color: #ffffff; /* Texto blanco */
  font-family: inherit; /* Heredar la fuente general del proyecto */
  font-size: 16px; /* Tamaño ajustado */
  font-weight: bold; /* Negrita opcional */
  text-align: center; /* Asegura que el texto esté centrado */
}

.backToLoginButton img {
  width: 20px; /* Ajusta el tamaño de la imagen dentro del botón */
  height: 20px; /* Ajusta el tamaño de la imagen dentro del botón */
  object-fit: contain; /* Asegura que la imagen se mantenga dentro de las dimensiones */
}
 /*Keyframes y animaciones*/

@keyframes BackLogin {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes forgotPasswordBox {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
