.loginFPContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
}
.segundoFPContainer {
  border: #333;
  height: 260px;
  width: 380px;
  padding: 10px;
  border-radius: 5px;
  background: #f0eded;
  transition: all 0.3 ease;
  justify-content: space-between; /* Esto empuja los elementos hacia los extremos */
  flex-direction: column;
  justify-content: center;
}
.loginFPBox {
  align-items: center;
  border: none;
  height: 350px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(87, 145, 238, 0.25);
  transition: all 0.3 ease;
  box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-between; /* Esto empuja los elementos hacia los extremos */
  flex-direction: column;
  justify-content: center;
}

.headerFP {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
}

.mensaje {
  margin-top: 10px;
  color: black;
  font-size: 14px;
}

.iconFPWrap {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
  height: 15px;
  margin-right: 5px;
  padding: 20px;
}

.inputFP {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.inputFP:hover {
  border-color: #666;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.inputFPGroup {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 70px;
  margin-bottom: -30px;
}
.iconFPWrapini {
  margin-top: -260px;
  margin-left: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Ajusta según el tamaño deseado */
  height: 40px; /* Ajusta según el tamaño deseado */
  border: 1px;
  border-radius: 50%; /* Hace que tenga forma circular */
  position: relative; /* Para posicionar el iconFP en el centro */
  transition: all 0.3s ease; /* Transición suave para los cambios */
  cursor: pointer; /* Cambia el cursor a un puntero */
}
.iconFPWrapini:hover {
  transform: scale(1.05); /* Agrandar ligeramente al hacer hover */
}
.iconFPWrapini:active {
  transform: scale(0.95); /* Reducir ligeramente al hacer clic */
}

.iconFPBack{
  width: 34px;
  height: 34px;
  margin-bottom: -10px;
  margin-right: -25px;
  position: absolute;
}
.iconFPBack:hover{
  transform: scale(0.95); /* Reducir ligeramente al hacer clic */

}
.iconFP {
  width: 34px;
  height: 34px;
  margin-bottom: -200px;
  margin-right: -15px;
  position: absolute;
}
.iconFP:hover{
  transform: scale(0.95); /* Reducir ligeramente al hacer clic */

}
.iconFP:hover{
  transform: scale(0.95); /* Reducir ligeramente al hacer clic */
}
h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  margin-left: 10px;
}

h3 .iconFP {
  margin-right: 10px;
}

.forgotPasswordBox {
  animation: forgotPasswordBox 0.5s ease forwards;
}
.buttonFPC {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  margin-top: 100px;
  left: 50%;
  transform: translateX(-50%); /* Ajusta el botón para que esté centrado */

  position: absolute;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: #fdca40; /* Color de fondo */
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttonFPC:hover {
  transform: scale(1.05); /* Agrandar ligeramente al hacer hover */
}

.buttonFPC:active {
  transform: scale(0.95); /* Reducir ligeramente al hacer clic */
}
.mensajeContainer {
  position: absolute;
  top: 5%; /* Ajusta según tus necesidades */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #fafafa; /* Fondo del mensaje */
  color: black; /* Color del texto */
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  text-align: center;
  animation: fadeIn 0.5s ease-out; /* Animación opcional */
}
.forgotPasswordExiting {
  animation: BackLogin 0.2s ease-out forwards;
}
@keyframes BackLogin {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes forgotPasswordBox {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
