.loginFPContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
}
.segundoFPContainer {
  border: #333;
  height: 260px;
  width: 380px;
  padding: 10px;
  border-radius: 5px;
  background: #f0eded;
  transition: all 0.3 ease;
  justify-content: space-between; /* Esto empuja los elementos hacia los extremos */
  flex-direction: column;
  justify-content: center;
}
.loginFPBox {
  border: none;
  height: 350px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  background: #fff;
  transition: all 0.3 ease;
  box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-between; /* Esto empuja los elementos hacia los extremos */
  flex-direction: column;
  justify-content: center;
}

.headerFP {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #333;
}

.mensaje {
  margin-top: 10px;
  color: #007bff;
  font-size: 14px;
}

.iconFPWrap {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
  height: 15px;
  margin-right: 5px;
  padding: 20px;
}

.inputFP {
  width: 70%;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.inputFP:hover {
  border-color: #666;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.inputFPGroup {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 70px;
  margin-bottom: -30px;
}

.iconFP {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  margin-top: -120px;
  margin-left: -6px;
  position: absolute;
}
h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  margin-left: 10px;
}

h3 .iconFP {
  margin-right: 10px;
}

.forgotPasswordBox {
  animation: LoginSlideFP 0.5s ease-out forwards;
}

@keyframes LoginSlideFP {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
