/* src/components/NuevaSolicitud.css */

.weather-info {
  display: flex;
  align-items: center;
}
.nueva-solicitud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la pantalla */
  width: 100%; /* Asegura que ocupe todo el ancho */
  background: linear-gradient(
      45deg,
      rgba(99, 12, 0, 0.25),
      rgba(30, 148, 227, 0.25)
    ),
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1560%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsRadialGradient1561)'%3e%3c/rect%3e%3cpath d='M0 0L52.91 0L0 5.82z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 5.82L52.91 0L223.41 0L0 198.10999999999999z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 198.10999999999999L223.41 0L876.5699999999999 0L0 320.44z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 320.44L876.5699999999999 0L1264.6799999999998 0L0 414.01z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1266.7 560L1440 289.19z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 289.19L1266.7 560L701.63 560L1440 233.49z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 233.49L701.6299999999999 560L375.40999999999985 560L1440 115.81z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 115.81L375.40999999999985 560L223.58999999999986 560L1440 34.019999999999996z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1560'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='100%25' cy='100%25' r='1545.06' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1561'%3e%3cstop stop-color='rgba(9%2c 82%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 0)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply; /* Opcional: color de fondo */
}

.info-card {
  background-color: rgba(87, 145, 238, 0.25);
  border: 1px solid #969696;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  flex: 1;
  margin: 0 1px;
}

.info-card h3 {
  display: block;
  font-size: 16px;
  margin: 0;
  color: #ffffff;
}

.info-card p {
  font-size: 28px;
  color: #fcbc0e;
  margin: 0 5px 0 0; /* Opcional para ajustar espacio */
  display: inline-block;
  vertical-align: middle;
}

.info-number {
  font-size: 24px;
  font-weight: bold;
  color: #fcbc0e;
}

.DatePicker {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espaciado entre los elementos */
  padding: 2rem;
  background-color: rgba(87, 145, 238, 0.25);
  border-radius: 8px;
  box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.DatePicker h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.DatePicker p {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-bottom: 1rem;
}

.DatePicker form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 15px;
}

.DatePicker input {
  width: 90%;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  transition: all 0.3s ease;
}

.select-usuarios {
  width: 100%; /* Ocupa el ancho completo */
  max-width: 244px; /* Ajusta el tamaño máximo para coincidir con el DatePicker */
  padding: 8px; /* Espaciado interno */
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px; /* Tamaño del texto */
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 4px; /* Bordes redondeados */
  background-color: rgba(255, 0, 0, 0); /* Fondo blanco */
  color: #ffffff; /* Texto en color oscuro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.select-usuarios option {
  background-color: rgba(255, 255, 255, 0); /* Fondo blanco */
  color: #333; /* Texto oscuro */
  padding: 8px; /* Espaciado interno */
}

.select-usuarios option:hover {
  background-color: #f1f1f100; /* Cambia el fondo al pasar el mouse */
}

.inputFile {
  display: none; /* Oculta el input original */
}

.file-upload-label {
  cursor: pointer; /* Cambia el cursor para indicar clickeable */
  display: inline-block;
  transition: transform 0.3s ease;
}

.file-upload-image {
  width: 30px; /* Ajusta el tamaño de la imagen */
  height: auto;
  transition: transform 0.3s ease; /* Animación al pasar el mouse */
}

.file-name {
  margin-left: 10px;
  font-size: 14px;
  color: #ffffff;
  vertical-align: super;
  transition: transform 0.3s ease;
}

.file-upload-label:hover {
  transform: scale(1.1);
}

.file-upload-container {
  display: flex;
  width: 230px;
  align-items: center;
  padding: 15px;
  padding-bottom: 10px;
  border: 2px solid white;
  border-radius: 20px;
  background: transparent;
  justify-content: flex-start;
}

.mb-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mb-3-lideres {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mb-3-lideres.flex-column {
  flex-direction: column; /* Cambia la dirección a columna */
  justify-content: flex-start; /* Alinea elementos al inicio vertical */
}

.mb-3-lideres img {
  width: 80px; /* Ancho de la imagen */
  height: 80px; /* Altura de la imagen */
  cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
  transition: transform 0.2s ease; /* Suaviza la animación */
}

.mb-3-lideres img:hover {
  transform: scale(1.1); /* Amplía ligeramente la imagen al pasar el mouse */
}
.MuiSvgIcon-root {
  color: rgb(
    206,
    206,
    206
  ) !important; /* Cambiar el color del ícono a blanco */
}
/* Animación de entrada y salida */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}
.mensaje-popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: green; /* o el color según el tipo */
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999; /* Asegúrate de que sea visible encima de otros elementos */
}

/* Estilos de los mensajes */
.MensajePopuppNS {
  position: fixed;
  top: 10px;
  left: 50%;
  font-weight: bold;
  transform: translateX(-50%);
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  animation: fadeInOut 5s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}

/* Color para mensajes de éxito */
.MensajePopuppNS.Success {
  background-color: #4caf50;
  color: white;
}

/* Color para mensajes de error */
.MensajePopuppNS.Error {
  background-color: #f44336;
  color: white;
}

/* Color para mensajes de advertencia */
.MensajePopuppNS.Warning {
  background-color: #ff9800;
  color: black;
}

/* Estilo base para el popup */
.MensajePopuppNS {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 8px;
  z-index: 1000;
  font-weight: bold;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0;
  animation: popupAnimation 0.5s forwards;
}

/* Animación para mostrar el popup */
@keyframes popupAnimation {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

/* Estilos para los diferentes tipos de mensaje */
.MensajePopuppNS.Success {
  background-color: #4caf50; /* Verde */
  color: white;
}

.MensajePopuppNS.Error {
  background-color: #f44336; /* Rojo */
  color: white;
}

.MensajePopuppNS.Warning {
  background-color: #ff9800; /* Naranja */
  color: white;
}

/* Opcional: Puedes agregar un efecto de desaparición */
.MensajePopuppNS.Exito,
.MensajePopuppNS.Error,
.MensajePopuppNS.Warning {
  animation: fadeOut 3s forwards;
}

/* Animación para desaparecer el popup después de cierto tiempo */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
}
/*Formato y hover para boton agregar o boton mas*/
.imagenBotonMas {
  display: inline-block;
  width: 30px; /* Ajusta según el tamaño que desees */
  height: 30px;
  cursor: pointer;
  margin-left: 50px;
  border-radius: 50%; /* Opcional: para hacerlo circular */
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagenBotonMas-img {
  margin-right: 85px;
  max-width: 70%; /* Ajusta el tamaño de la imagen */
  max-height: 70%;
  object-fit: contain; /* Para que la imagen conserve proporciones */
}
