.containerRestablecer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  position: relative;
}

.restablecerBox {
  border: none;
  height: 350px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  background: #fff;
  transition: all 0.3 ease;
  box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-between; /* Esto empuja los elementos hacia los extremos */
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.segundoContainerRC {
  border: #333;
  height: 260px;
  width: 380px;
  padding: 10px;
  border-radius: 5px;
  background: #f0eded;
  transition: all 0.3 ease;
  justify-content: space-between; /* Esto empuja los elementos hacia los extremos */
  flex-direction: column;
  justify-content: center;
}

.headerRC {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #333;
}

.inputRCGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-top: 70px;
  margin-bottom: -60px;
}
.iconRC {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: -35px;
}
.iconWrapRC {
  position: absolute;
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-right: 5px;
  padding: 10px;
}

.inputRC {
  position: relative;
  width: 100%;
  flex: 1;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.inputRC:hover {
  border-color: #666;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.buttonRC {
  position: relative;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  width: 50%;
  padding: 10px;
  background-color: #fdca40;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 90px;
  margin-left: 95px;
  display: block;
  transition: all 0.4s ease;
}

.buttonRC:hover {
  background-color: #fcbc0e;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
    0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07),
    0 32px 32px rgba(0, 0, 0, 0.07);
  transform: translateY(-2px);
}
.linkRC {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  margin-top: -265px;
  margin-left: 165px;
  transition: all 0.3s ease;
  position: absolute;
  margin-bottom: 25px;
}

.linkRC:hover {
  color: #666;
}
.BackToLogin {
  position: relative;
  margin-bottom: 50px;
}

.inputRCGroup1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-top: 70px;
  margin-bottom: -50px;
}
.iconRC1 {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: -35px;
}
.iconWrapRC1 {
  position: absolute;
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-right: 5px;
  padding: 10px;
}
.iconFP {
  position: absolute;
  width: 40px; /* Ajusta el tamaño de la imagen */
  height: 40px;
  margin-right: 20px; /* Si deseas un pequeño espacio entre la imagen y cualquier otro contenido */
  margin-top: -210px;
  margin-left: -20px;
}

.iconFP:hover {
  background-color: #fcbc0e;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
    0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07),
    0 32px 32px rgba(0, 0, 0, 0.07);
  transform: translateY(-2px);
  border-radius: 30px;
}
