.containerRestablecerContraseña {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: none;
  position: relative;
}

.restablecerBox {
  padding-bottom: 70px;
  border: none;
  height: 350px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(87, 145, 238, 0.25);
  transition: all 0.3 ease;
  box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-between; /* Esto empuja los elementos hacia los extremos */
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 1;
}
.headerRC {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
  color: white;
}

.inputRCGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-top: 55px;
  margin-bottom: -60px;
}
.iconRC {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 9px;
  margin-left: -40px;
}
.iconWrapRC {
  position: absolute;
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-right: 5px;
  padding: 10px;
}

.inputRC {
  position: relative;
  margin-left: px;
  width: 300px;
  flex: 1;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.inputRC:hover {
  border-color: #666;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.buttonRC {
  position: absolute;
  bottom: 20px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  width: 50%;
  padding: 10px;
  background-color: #fdca40;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  font-size: 16px;
  margin-top: 95px;
  margin-left: 95px;
  display: block;
  transition: all 0.4s ease;
}

.buttonRC:hover {
  background-color: #fcbc0e;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
    0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07),
    0 32px 32px rgba(0, 0, 0, 0.07);
  transform: translateY(-2px);
}
.linkRC {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  margin-top: -265px;
  margin-left: 165px;
  transition: all 0.3s ease;
  position: absolute;
  margin-bottom: 25px;
}

.linkRC:hover {
  color: #666;
}
.BackToLogin {
  position: relative;
  margin-bottom: 50px;
}

.inputRCGroup1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-top: 70px;
  margin-bottom: -50px;
}
.iconRC1 {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 9px;
  margin-left: -40px;
}
.iconWrapRC1 {
  position: absolute;
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-right: 5px;
  padding: 10px;
}
.iconFP {
  position: absolute;
  width: 40px; /* Ajusta el tamaño de la imagen */
  height: 40px;
  margin-right: 20px; /* Si deseas un pequeño espacio entre la imagen y cualquier otro contenido */
  margin-top: -210px;
  margin-left: -20px;
}

.iconFP:hover {
  background-color: #fcbc0e;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
    0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07),
    0 32px 32px rgba(0, 0, 0, 0.07);
  transform: translateY(-2px);
  border-radius: 30px;
}
.mensajePopupp {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  animation: fadeInOut 2s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Color para mensajes de éxito */
.mensajePopupp.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

/* Color para mensajes de error */
.mensajePopupp.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Animación de entrada y salida */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}
