.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Para posicionar elementos internos */
}

h4 {
  font-size: 1.5rem;
  color: white; /* Título en blanco */
  margin-bottom: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #555;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 0.5rem;
}

button {
  background-color: #fdca40; /* Color amarillo */
  font-family: "bold";
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 0.4rem; /* Ajustado */
  color: #2c2c2c; /* Texto oscuro */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #fcbc0e; /* Hover amarillo */
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
    0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07),
    0 32px 32px rgba(0, 0, 0, 0.07);
  transform: translateY(-2px);
}

.volver-home {
  margin-top: 1rem; /* Ajuste para separar del contenido */
  align-self: center; /* Centrar el botón */
  font-size: 18px; /* Tamaño más grande */
  padding: 0.6rem 1.5rem; /* Ajuste del tamaño */
}
