.container-solicitudes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  background-color: rgba(87, 145, 238, 0.25); /* Fondo translúcido */
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed; /* Centrado en la pantalla */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh; /* Limitar altura al 80% del viewport */
  overflow-y: scroll; /* Habilitar desplazamiento vertical */
  scrollbar-width: none; /* Ocultar barra de desplazamiento en Firefox */
}

.container-solicitudes::-webkit-scrollbar {
  display: none; /* Ocultar barra de desplazamiento en navegadores basados en WebKit (Chrome, Edge, Safari) */
}

h4 {
  font-size: 1.5rem;
  color: white; /* Título en blanco */
  margin-bottom: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(45, 96, 177, 0.726);
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.381);
}

li p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: white;
}

li p:first-of-type {
  text-align: center; /* Centrar el primer <p> */
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

button {
  background-color: #fdca40; /* Color amarillo */
  font-family: "bold";
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 0.4rem; /* Ajustado */
  color: #2c2c2c; /* Texto oscuro */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #fcbc0e; /* Hover amarillo */
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
    0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07),
    0 32px 32px rgba(0, 0, 0, 0.07);
  transform: translateY(-2px);
}

.volver-home {
  margin-top: 1rem; /* Ajuste para separar del contenido */
  align-self: center; /* Centrar el botón */
  font-size: 18px; /* Tamaño más grande */
  padding: 0.6rem 1.5rem; /* Ajuste del tamaño */
}

.datepicker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.datepicker-container input {
  width: 100%; /* O ajusta el tamaño que prefieras */
  max-width: 250px; /* Ancho máximo para no hacerlos demasiado grandes */
}

/* Estilos para la lista desplegable de filtro */
/* Fondo translúcido para las opciones de la lista desplegable */
.select-filtro {
  position: absolute;
  top: 3.6rem; /* Ajusta este valor según el espacio desde el borde superior */
  right: 1.5rem; /* Ajusta este valor para alinearlo con el borde derecho */
  background-color: #fdca40; /* Mismo amarillo que los otros botones */
  color: #2c2c2c; /* Texto oscuro */
  font-family: "bold";
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 1rem; /* Espaciado interno */
  cursor: pointer;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
  0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07),
  0 32px 32px rgba(0, 0, 0, 0.07);  
  transition: all 0.3s ease-in-out;
  margin: 0 0.5rem; /* Espaciado */
}

/* Estilo del menú desplegable */
.select-filtro option {
  background-color: #F0E68C; /* Fondo amarillo translúcido */
  color: #2c2c2c; /* Texto oscuro */
  font-size: 16px;
  padding: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Cambio al pasar el mouse */
.select-filtro option:hover {
  background-color: rgba(252, 188, 14, 0.85); /* Hover translúcido */
}
.select-filtro:focus {
  outline: none; /* Eliminar el contorno negro */
}
