.container-solicitudes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 8px;
  max-width: 650px;
  width: 100%;
  background-color: rgba(87, 145, 238, 0.25); /* Fondo translúcido */
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed; /* Centrado en la pantalla */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh; /* Limitar altura al 80% del viewport */
  overflow-y: scroll; /* Habilitar desplazamiento vertical */
  scrollbar-width: none; /* Ocultar barra de desplazamiento en Firefox */
}

.container-solicitudes::-webkit-scrollbar {
  display: none; /* Ocultar barra de desplazamiento en navegadores basados en WebKit (Chrome, Edge, Safari) */
}

h4 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}


.titulo-solicitud {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(45, 96, 177, 0.726);
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.381);
}

li p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: white;
}

.solicitud-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  gap: 16px; /* Espaciado entre columnas */
  margin: 16px 0; /* Espaciado superior e inferior */
}

.columna p {
  margin: 8px 0; /* Espaciado entre párrafos en cada columna */
  text-align: left;
}

/* Alinear los elementos <option> en una sola línea */
.columna p strong + option {
  display: inline-block; /* Cambiar a inline-block para respetar márgenes */
  margin-left: 0.1rem; /* Espaciado entre "Líder:" y el nombre */
  font-weight: normal; /* Asegúrate de que no sea bold */
  color: white;
  background: transparent;
  border: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

button {
  background-color: #fdca40;
  font-family: "bold";
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 0.4rem;
  color: #2c2c2c;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #fcbc0e;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
    0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07),
    0 32px 32px rgba(0, 0, 0, 0.07);
  transform: translateY(-2px);
}

button:disabled {
  background-color: #c0a354;
  color: #464646;
  cursor: not-allowed;
  opacity: 0.7;
  transition: none;
  margin-right: 10px;
}


.volver-home {
  margin-top: 1rem;
  align-self: center;
  font-size: 18px;
  padding: 0.6rem 1.5rem;
}

.datepicker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

/* Estilo general del contenedor del campo */
.MuiOutlinedInput-root {
  border-radius: 4px; /* Asegura esquinas redondeadas */
}

/* Cambia el borde negro predeterminado a blanco */
.MuiOutlinedInput-notchedOutline {
  border-color: white !important; /* Cambia el color del borde predeterminado */
}

/* Mantén el borde blanco al pasar el cursor */
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white !important; /* Color del borde al hover */
}

/* Cambia el borde negro más oscuro (en foco) a blanco */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important; /* Color del borde al enfocar */
}

/* Opcional: Asegúrate de que el texto también sea blanco */
.MuiInputBase-input {
  color: white !important;
}

/* Cambia el color del label a blanco permanentemente */
.MuiInputLabel-root {
  color: white !important; /* Elimina el color celeste predeterminado */
}

/* Mantén el color blanco cuando el campo está enfocado */
.MuiInputLabel-root.Mui-focused {
  color: white !important; /* Sin transición al color celeste */
}


.datepicker-container input {
  color: white;
  width: 100%;
  max-width: 250px;
}



/* Apunta al ícono dentro del DatePicker */
.datepicker-container .MuiSvgIcon-root {
  color: white; /* Cambia el color del ícono */
}


/* Estilos para la lista desplegable de filtro */
.select-filtro {
  position: absolute;
  top: 2.3rem;
  right: 1.5rem;
  background-color: rgba(87, 145, 238, 0.25);
  color: #ffffff;
  font-family: "bold";
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  cursor: pointer;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
  0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07),
  0 32px 32px rgba(0, 0, 0, 0.07);  
  transition: all 0.3s ease;
  margin: 0 0.5rem;
}

/* Estilo del menú desplegable */
.select-filtro option {
  background-color:  rgba(32, 85, 170, 0.8);
  color: #ffffff;
  font-size: 16px;
  padding: 0.4rem;
  transition: all 0.3s ease;
}

/* Cambio al pasar el mouse */
.select-filtro option:hover {
  border-color: #666;
  background-color: rgba(255, 255, 255, 0.527);
}
.select-filtro:focus {
  outline: none; /* Eliminar el contorno negro */
}

.mb-3-lideresDetalle {
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  margin-bottom: 16px; /* Espaciado entre los campos */
}

.mb-3-lideresDetalle.flex-column {
  flex-direction: column; /* Cambia la dirección a columna */
  align-items: center; /* Centra los elementos en columna */
}

.mb-3-lideresDetalle img {
  width: 80px; /* Ancho de la imagen */
  height: 80px; /* Altura de la imagen */
  cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
  transition: transform 0.2s ease; /* Suaviza la animación */
}

.mb-3-lideresDetalle img:hover {
  transform: scale(1.1); /* Amplía ligeramente la imagen al pasar el mouse */
}

.select-usuariosDetalle {
  width: 100%; /* Ocupa el ancho completo */
  max-width: 244px; /* Ajusta el tamaño máximo para coincidir con el DatePicker */
  margin-bottom: 3px; /* Espaciado inferior */
  text-align: center; /* Centrar el texto */
  padding: 8px; /* Espaciado interno */
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px; /* Tamaño del texto */
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 4px; /* Bordes redondeados */
  background-color: rgba(255, 0, 0, 0); /* Fondo blanco */
  color: #ffffff; /* Texto en color oscuro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.select-usuariosDetalle option {
  background-color: rgba(255, 255, 255, 0); /* Fondo blanco */
  color: #333; /* Texto oscuro */
  padding: 8px; /* Espaciado interno */
}

.select-usuariosDetalle option:hover {
  background-color: #f1f1f100; /* Cambia el fondo al pasar el mouse */
}

.imagenBotonMasDetalle {
  display: flex;
  width: 30px; /* Ajusta según el tamaño que desees */
  height: 30px;
  cursor: pointer;
  margin-left: 16px;
  border-radius: 50%; /* Opcional: para hacerlo circular */
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.imagenBotonMasDetalle-img {
  margin-top: -78px;
  margin-left: 275px;
  max-width: 70%; /* Ajusta el tamaño de la imagen */
  max-height: 70%;
  object-fit: contain; /* Para que la imagen conserve proporciones */
}

.mensaje-popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: green; /* o el color según el tipo */
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999; /* Asegúrate de que sea visible encima de otros elementos */
}

/* Estilos de los mensajes */
.MensajePopuppNS {
  position: fixed;
  top: 10px;
  left: 50%;
  font-weight: bold;
  transform: translateX(-50%);
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  animation: fadeInOut 5s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}


/* Color para mensajes de éxito */
.MensajePopuppNS.Success {
  background-color: #4caf50;
  color: white;
}

/* Color para mensajes de error */
.MensajePopuppNS.Error {
  background-color: #f44336;
  color: white;
}

/* Color para mensajes de advertencia */
.MensajePopuppNS.Warning {
  background-color: #ff9800;
  color: black;
}

/* Estilo base para el popup */
.MensajePopuppNS {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 8px;
  z-index: 1000;
  font-weight: bold;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0;
  animation: popupAnimation 0.5s forwards;
}

/* Animación para mostrar el popup */
@keyframes popupAnimation {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

/* Estilos para los diferentes tipos de mensaje */
.MensajePopuppNS.Success {
  background-color: #4caf50; /* Verde */
  color: white;
}

.MensajePopuppNS.Error {
  background-color: #f44336; /* Rojo */
  color: white;
}

.MensajePopuppNS.Warning {
  background-color: #ff9800; /* Naranja */
  color: white;
}

/* Opcional: Puedes agregar un efecto de desaparición */
.MensajePopuppNS.Exito,
.MensajePopuppNS.Error,
.MensajePopuppNS.Warning {
  animation: fadeOut 3s forwards;
}

/* Animación para desaparecer el popup después de cierto tiempo */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
}