/* General Styles */
.detalle-body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0D47A1, #1565C0);
    color: white;
    margin: 0;
    padding: 0;
}

.container-deetalle2 {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgba(99, 12, 0, 0.25), rgba(30, 148, 227, 0.25)), url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1560%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsRadialGradient1561)'%3e%3c/rect%3e%3cpath d='M0 0L52.91 0L0 5.82z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 5.82L52.91 0L223.41 0L0 198.10999999999999z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 198.10999999999999L223.41 0L876.5699999999999 0L0 320.44z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 320.44L876.5699999999999 0L1264.6799999999998 0L0 414.01z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1266.7 560L1440 289.19z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 289.19L1266.7 560L701.63 560L1440 233.49z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 233.49L701.6299999999999 560L375.40999999999985 560L1440 115.81z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 115.81L375.40999999999985 560L223.58999999999986 560L1440 34.019999999999996z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1560'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='100%25' cy='100%25' r='1545.06' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1561'%3e%3cstop stop-color='rgba(9%2c 82%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 0)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.container-usuario-detalle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 8px;
    max-width: 90rem;
    width: 100%;
    height: 150rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: static;
}

.container-usuario-detalle::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, label {
    color: white; 
}
.container-usuario-detalle h3 {
    color: white;
    font-size: 1.2rem;
}

.err {
    color: red;
    font-size: 0.9rem;
    text-align: center;
}

.succ {
    color: green;
    font-size: 0.9rem;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0);
    
}

.table th, .table td {
    padding: 0.8rem;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.table th {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

.boton {
    background-color: #fdca40;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 10rem;
    height: 3.5rem;
    color: #2c2c2c;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}

.boton-inicio {
    background-color: #fdca40;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 6rem;
    height: 2.5rem;
    color: #2c2c2c;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.boton:hover {
    background-color: #fcbc0e;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
    0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07),
    0 32px 32px rgba(0, 0, 0, 0.07);
    transform: translateY(-2px);
}

.inputGroupp {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputGroupp label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.inputGroupp input,
.inputGroupp select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
    color: #333;
    appearance: none;
}

.inputGroupp select {
    cursor: pointer;
    padding-right: 2rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23333" width="16" height="16"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
}


.inputGroupp input:focus {
    outline: none;
    border-color: #fdca40;
    box-shadow: 0 0 5px rgba(253, 202, 64, 0.7);
}

.detalle-form2 {
    width: 100%;
    max-width: 100rem;
    margin: 2% auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
    color: white;
    
}

.formCreate {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.inputCreate {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgba(87, 145, 238, 0.25);
  font-size: 16px;
  transition: all 0.3s ease;
  
}

.iconWrap {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: content-box;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 3%;
}


.inputGroupCreate2 {
    display: flex;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.labelCreateDetalle {
    margin-left: 0%;
}

.datePickerGroup {
  width: 100%;
  padding-top: 6%;
}

.MuiSvgIcon-root {
  color: rgb(206, 206, 206) !important;
}

h3 .icon {
  margin-right: 10px;
}

.content-area2 {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}



@media (max-width: 480px) {
    .detalle-form2 {
        grid-template-columns: 1fr;
        display: flex;
        padding: 10px;
    }
}
